:root {
   --main-color-text-little: #828282;
   --main-color-text: #070707;
   --main-font-size: 18px;
   --main-font-family: 'Open Sans', sans-serif;
   /* font-family: 'Raleway', sans-serif;
   font-family: 'Roboto', sans-serif; */
}